<header>
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
          <a class="nav-link" href="#">Преимущества</a>
          <a class="nav-link" href="#">Цены</a>
          <a class="nav-link" href="#">Контакты</a>
        </div>
        <form class="d-flex ms-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Поиск">
          <button class="btn btn-outline-primary hvr-buzz-out" type="submit">Найти</button>
        </form>
      </div>
    </div>
  </nav>
</header>
